PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/enigoal?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here_min32chars
JWT_EXPIRES_IN=7d
NODE_ENV=development
CLIENT_URL=http://localhost:5173
